@model IEnumerable<Products.Domain.Models.Category>

@{
    ViewData["Title"] = "Categories";
}

<div>
    <h1>Categories</h1>
<p>
    <a asp-action="Create">Create New</a>
<p>

<table id="tblProducts" class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { categoryId=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { categoryId=item.Id })
            </td>
        </tr>
        }
    </tbody>
</table>

</div>
